:root {
    box-sizing: border-box;
    --dark-black: #070707;
    --btm-brd-sd: 1px solid #838383; /* border bottom in info */
    --dot-color: #fa0530;
}

*, ::after, ::before {box-sizing: inherit; }

/* @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand');
} */

/* cursor in page */
#ball {
    border-radius: 50px;
    border: 2px solid rgb(158, 158, 158);
    width: 30px;
    height: 30px;
    background-color: none;
    position: absolute;
    top: -20px;
    transition: transform .07s ease;   
    opacity: .5;  
    z-index: 0;
    cursor: pointer;
}
#ball-dot {
    border-radius: 50px;
    background: var(--dot-color);
    width: 15px;
    height: 15px;
    position: absolute;
    top: -10px;
    transition: transform .12s ease;
    z-index: 1;
}
#ball-cont {
    position: absolute;
    top: -20px;
    transition: transform .07s ease;      
    z-index: 0;
}

/* document */
body {
    margin: 0;
    font-family: 'Quicksand';
    color: white;
    background: var(--dark-black);
}

.main-cont {
    display: flex;
    margin: 0 auto;
    /*border-bottom: 2px solid white;*/
}

.col {
    width: 100%;
    position: relative;
}

.side {
    border-right: 3px solid white;
    width: 30%;
    background-color: var(--side-inner-color);
    transition: width .3s ease;
}

.side-inner {
    text-align: center;
    padding: 0 2em;
}
#info {
    margin: 0;
}

.fa-arrow-left {
    font-size: 1.7rem;
    cursor: pointer;
}
.name {
    font-size: 2.5em;
    padding-bottom: 10px;
    background: #fa0530;
}
.email a {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    border-bottom: var(--btm-brd-sd);
}
.general-portfolio a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;
}

/* nav */
.nav {
    display: flex;
    margin: 0;
    border-bottom: 2px solid white;
}
.nav h1 {
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0;
}
.nav a {
    text-decoration: none;
    color: white;
}
.lang-cont {
    position: absolute;
    right: 0;
}
.p-nav {
    padding: .7em 0;
}
.p-nav-info {
    padding: .7em 0;
}
.nav a {
    padding: .7em 0;
}
/*nav hover effects */
.nav h1:hover {
    background: red
}

/* intro text */
.intro-text-cont {
    margin: 0 auto;
    width: 400px;
    padding: 41px 0;
}
.intro-text {
    font-size: 6rem;
}